
body {
	font: 30px Sans-Serif;
	background: #111;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

#keyboard span {
	float: left;
	margin: 0 10px 10px 0;
	padding: 20px;
	line-height: 16px;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-transform: uppercase;
}

#keyboard span:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #111;
	cursor: pointer;
}

.disable {
	pointer-events: none;
}